<a href="https://colab.research.google.com/github/Samuca47prog/alura-courses/blob/main/Forma%C3%A7%C3%A3o%20Machine%20Learning/introdu%C3%A7%C3%A3o_a_machine_learning_e_classifica%C3%A7%C3%A3o_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aprendido aqui!
* Abrir arquivo CSV;
* Imprimir as primeiras linhas com a função head;
* Renomear as colunas;
* Utilizar a função shape para ver a quantidade de elementos;
* Separar dados para treino e teste;
* Definir a ordem para os números aleatórios;
* Utilizar a função value_counts.

# Preparação dos dados!

In [11]:
import pandas as pd

uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
dados = pd.read_csv(uri)
dados.head() # imprime as 5 primeiras linhas do df

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

**--> Como renomear as colunas de um data frame**
* cria um mapa: dicionário onde a key é o valor atual e o value é o novo nome
* usa o método rename()

In [13]:
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}

dados = dados.rename(columns = mapa)

In [14]:
x = dados[["principal", "como_funciona", "contato"]] # mais de uma coluna devem ser passadas dentro de uma lista
print(x.head())

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [15]:
y = dados["comprou"] # uma coluna pode ser passado só seu nome
print(y.head())

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

**--> `Nunca use todos os seus dados para treinamento!`**  
separe no cerca de 25% para realizar testes dos seus modelos

In [16]:
# retorna quantas linhas e quantas colunas tem a df --> (rows, cols)
dados.shape

(99, 4)

In [19]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

treinaremos com 75 elementos e testaremos com 24 elementos

# Treinamento do modelo!

In [20]:
from sklearn.svm import LinearSVC

# utiliza um modelo linear
modelo = LinearSVC()
# features em x, classes em y
modelo.fit(treino_x, treino_y)

LinearSVC()

In [21]:
# tenta prever com os dados de teste
previsoes = modelo.predict(teste_x)

In [24]:
from sklearn.metrics import accuracy_score

acuracia = accuracy_score(teste_y, previsoes) * 100

print("Taxa de acerto: %.2f%%" % acuracia)

Taxa de acerto: 95.83%

# Preparando os dados com funções da sklearn!

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

# semente usada para separar dados de treino e dados de teste
SEED = 20

# por padrão, separa treino e teste aleatoriamente...
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                        random_state = SEED, 
                                                        test_size = 0.25,
                                                        stratify = y)
print("treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("Taxa de acerto: %.2f%%" % acuracia)

treinaremos com 74 elementos e testaremos com 25 elementos
Taxa de acerto: 96.00%

É importante que que o treino e o teste tenham proporções semelhantes de 0 e 1  
Se não, o modelo acaba aprendendo como identificar somente uma das saídas.
O parâmetro *stratify* dá conta de separar os dados mantendo a proporção!

In [32]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64

In [33]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64